<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Invoice</title>

    <%- include("admin_template/link_style.ejs") %>
</head>

<body class="hold-transition sidebar-mini">
    <div class="wrapper" id="app">

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
            </ul>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Navbar Search -->
                <li class="nav-item">

                    <div class="navbar-search-block">
                        <form class="form-inline">
                            <div class="input-group input-group-sm">
                                <input class="form-control form-control-navbar" type="search" placeholder="Search"
                                    aria-label="Search">
                                <div class="input-group-append">
                                    <button class="btn btn-navbar" type="submit">
                                        <i class="fas fa-search"></i>
                                    </button>
                                    <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="#" class="brand-link">
                <img src="dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
                    style="opacity: .8">
                <span class="brand-text font-weight-light">E-shop</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a href="#" class="d-block">
                            <%= global.user %>
                        </a>
                    </div>
                </div>
                <!-- Sidebar Menu -->
                <%- include("admin_template/admin_navigation.ejs")%>
                    <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">Invoice Page</h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Invoice</a></li>
                                <li class="breadcrumb-item active">Invoice Page</li>
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->

            <!-- Pop up Invoice detail -->
            <div class="modal fade bd-example-modal-lg" id="invoices_detail" data-backdrop="static"
                data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Invoice ID: <span
                                    style="background-color: rgb(0, 42, 255);padding: 1px 2px;border-radius: 5px;color: white;">{{
                                    invoice_id_detail }}</span>
                            </h5>
                        </div>
                        <div class="modal-body">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Product ID</th>
                                        <th scope="col">Product Name</th>
                                        <th scope="col">Order Qty</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(invoice, index) in invoice_detail">
                                        <th scope="row">{{ index + 1 }}</th>
                                        <td>{{ invoice.product_id }}</td>
                                        <td>{{ invoice.product }}</td>
                                        <td>{{ invoice.order_qty }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-danger" @click="closeInvoiceDetail()">
                                <i class="far fa-times-circle"></i>
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Pop up Invoice detail -->





            <!-- Main content -->
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="search_bar" id="search-bar">
                                        <div class="form-group" style="display: flex;">
                                            <div class="form">
                                                <input type="text" class="form-control" id="search_by_id"
                                                    placeholder="Search Invoice number" v-model="invoice_id"
                                                    @input="getFilterbyInvoiceID()">
                                            </div>

                                            <div class="form-check form-check-inline" style="padding-left: 10px;">
                                                <input class="form-check-input" type="radio" id="all" name="invoice"
                                                    value="form-check-input" checked @click="InvoiceList()">
                                                <label class="form-check-label" for="all">All</label>
                                            </div>

                                            <div class="form-check form-check-inline" style="padding-left: 10px;">
                                                <input class="form-check-input" type="radio" id="prepare" name="invoice"
                                                    value="form-check-input" @click="onPrepare()">
                                                <label class="form-check-label" for="prepare">Prepare</label>
                                            </div>

                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" id="delivery"
                                                    name="invoice" value="form-check-input" @click="onDelivery()">
                                                <label class="form-check-label" for="delivery">Delivery</label>
                                            </div>

                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" id="finish" name="invoice"
                                                    value="form-check-input" @click="onFinish()">
                                                <label class="form-check-label" for="finish">Finish</label>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive" style="height: 450px;overflow-y:scroll;">
                                        <table class="table table-striped border">
                                            <thead class="table-light">
                                                <tr>
                                                    <th>Invoice ID</th>
                                                    <th>Date time</th>
                                                    <th>Amount</th>
                                                    <th>Discount</th>
                                                    <th>Detail</th>
                                                    <th>Status</th>
                                                </tr>
                                            </thead>
                                            <tbody id="userTableBody">
                                                <tr v-for="(item,index) in Invoice_list">
                                                    <td class="text-center">{{ item.Invoice_id }}</td>
                                                    <td class="text-left">{{ item.formatted_datetime }}</td>
                                                    <td class="text-left">${{ item.Total_amount }}</td>
                                                    <td class="text-left">{{ item.discount }}%</td>
                                                    <td>
                                                        <button type="button" class="btn btn-outline-secondary mr-2"
                                                            @click="getInvoiceDetail(item.Invoice_id)">
                                                            <i class="fas fa-eye"></i>
                                                            view
                                                        </button>
                                                    </td>
                                                    <td>
                                                        <div v-if="item.status_order == 'Prepare'">
                                                            <button type="button" class="btn btn-primary mr-1"
                                                                @click="update_status_to_Delivery(item.Invoice_id)">
                                                                {{ item.status_order }}
                                                            </button>
                                                        </div>

                                                        <div v-if="item.status_order == 'Delivery'">
                                                            <button type="button" class="btn btn-danger mr-1"
                                                                @click="update_status_to_Finish(item.Invoice_id)">
                                                                {{ item.status_order }}
                                                            </button>
                                                        </div>

                                                        <div v-if="item.status_order == 'Finish'">
                                                            <button type="button" class="btn btn-success mr-1" disabled>
                                                                {{ item.status_order }}
                                                            </button>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <!-- Main Footer -->
        <footer class="main-footer" style="text-align: center;">
            <span class="footer__copy">&#169; DUONG <span style="color: gold;">NAMFA</span>. All right
                reserve</span>
        </footer>
    </div>

    <!-- ./wrapper -->

    <%- include("admin_template/link_script.ejs") -%>
        <script>
            const { createApp } = Vue;
            createApp({
                created() {
                    this.InvoiceList()
                },
                data() {
                    return {
                        Invoice_list: [],
                        invoice_detail: [],
                        invoice_id: '',
                        invoice_id_detail: 0,
                    };
                },
                methods: {
                    openInvoiceDetail() {
                        $('#invoices_detail').modal('show')
                    },
                    closeInvoiceDetail() {
                        $('#invoices_detail').modal('hide'),
                            this.invoice_id = ''
                    },
                    InvoiceList() {
                        $.LoadingOverlay("show");
                        fetch('http://localhost:3000/api/list/allinvoice')
                            .then(response => {
                                if (!response.ok) {
                                    throw new Error('Network response was not ok');
                                }
                                return response.json();
                            })
                            .then(data => {
                                this.Invoice_list = data;
                                $.LoadingOverlay("hide");
                            })
                            .catch(error => {
                                console.error('Error fetching data:', error);
                            });
                    },
                    getFilterbyInvoiceID() {
                        if (this.invoice_id != '') {
                            $.LoadingOverlay("show");
                            fetch('http://localhost:3000/api/list/searchInvoiceID?invoice_id=' + this.invoice_id)
                                .then(response => {
                                    if (!response.ok) {
                                        throw new Error('Network response was not ok');
                                    }
                                    return response.json();
                                })
                                .then(data => {
                                    this.Invoice_list = data;
                                    $.LoadingOverlay("hide");
                                })
                                .catch(error => {
                                    console.error('Error fetching data:', error);
                                });
                        }
                        else {
                            this.InvoiceList();
                        }
                    },
                    getInvoiceDetail(invoice_id) {
                        this.invoice_id_detail = invoice_id;
                        $.LoadingOverlay("show");
                        fetch('http://localhost:3000/api/list/InvoiceDetail?invoice_id=' + invoice_id)
                            .then(response => {
                                if (!response.ok) {
                                    throw new Error('Network response was not ok');
                                }
                                return response.json();
                            })
                            .then(data => {
                                this.invoice_detail = data;
                                $.LoadingOverlay("hide");
                                this.openInvoiceDetail();
                            })
                            .catch(error => {
                                console.error('Error fetching data:', error);
                            });
                    },
                    update_status_to_Delivery(Invoice_id) {
                        let invoice = {
                            'id': Invoice_id
                        }
                        let vm = this;
                        $.LoadingOverlay("show");
                        axios.post('http://localhost:3000/api/update/invoice/todelivery', invoice)
                            .then(function (response) {
                                vm.InvoiceList();
                                $.LoadingOverlay("hide");
                                Swal.fire({
                                    icon: "success",
                                    title: "Updated Success",
                                    showConfirmButton: false
                                });
                            })
                            .catch(function (error) {
                                console.log(error);
                            });
                        window.location.reload();
                    },
                    update_status_to_Finish(Invoice_id) {
                        let invoice = {
                            'id': Invoice_id
                        }
                        let vm = this;
                        $.LoadingOverlay("show");
                        axios.post('http://localhost:3000/api/update/invoice/tofinish', invoice)
                            .then(function (response) {
                                vm.InvoiceList();
                                $.LoadingOverlay("hide");
                                Swal.fire({
                                    icon: "success",
                                    title: "Updated Success",
                                    showConfirmButton: false
                                });
                            })
                            .catch(function (error) {
                                console.log(error);
                            });
                        window.location.reload();
                    },
                    onPrepare() {
                        $.LoadingOverlay("show");
                        fetch('http://localhost:3000/api/prepare/invoice')
                            .then(response => {
                                if (!response.ok) {
                                    throw new Error('Network response was not ok');
                                }
                                return response.json();
                            })
                            .then(data => {
                                this.Invoice_list = data;
                                $.LoadingOverlay("hide");
                            })
                            .catch(error => {
                                console.error('Error fetching data:', error);
                            });
                    },
                    onDelivery() {
                        $.LoadingOverlay("show");
                        fetch('http://localhost:3000/api/delivery/invoice')
                            .then(response => {
                                if (!response.ok) {
                                    throw new Error('Network response was not ok');
                                }
                                return response.json();
                            })
                            .then(data => {
                                this.Invoice_list = data;
                                $.LoadingOverlay("hide");
                            })
                            .catch(error => {
                                console.error('Error fetching data:', error);
                            });
                    },
                    onFinish() {
                        $.LoadingOverlay("show");
                        fetch('http://localhost:3000/api/finish/invoice')
                            .then(response => {
                                if (!response.ok) {
                                    throw new Error('Network response was not ok');
                                }
                                return response.json();
                            })
                            .then(data => {
                                this.Invoice_list = data;
                                $.LoadingOverlay("hide");
                            })
                            .catch(error => {
                                console.error('Error fetching data:', error);
                            });
                    }
                },
            }).mount('#app');
        </script>
</body>

</html>