<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--=============== BOXICONS ===============-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

    <!--=============== SWIPER CSS ===============-->
    <link rel="stylesheet" href="css/swiper-bundle.min.css">

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/colors/color-1.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.0/css/all.min.css" />
    <style>
        /* Center the registration form */
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: var(--body-color);
        }

        /*=============== LOGIN ===============*/
        .login {
            background-color: var(--body-color);
            z-index: var(--z-fixed);
            box-shadow: 2px 1px 10px var(--shadow);
            padding: 3.5rem 2rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 25px;
        }

        .login__title-center {
            font-size: var(--h2-font-size);
            text-align: center;
            margin-bottom: var(--mb-3);
        }

        .login__close {
            font-size: 2rem;
            color: var(--title-color);
            position: absolute;
            top: 1.25rem;
            right: .9rem;
            cursor: pointer;
        }

        .login__form {
            row-gap: 1.25rem;
        }

        .login__content {
            background: var(--container-color);
            border-radius: .5rem;
            padding: .75rem 1rem .25rem;
        }

        .login__label {
            font-size: var(--small-font-size);
            color: var(--title-color);
        }

        .login__input {
            width: 100%;
            background: var(--container-color);
            color: var(--title-color);
            font-size: var(--normal-font-size);
            padding: .25rem .5rem .25rem 0;
        }

        .btnlogin {
            text-align: center;
        }


        .signin {
            color: var(--title-color);
            font-size: var(--small-font-size);
            font-weight: var(--font-medium);
        }

        .signup a {
            color: var(--first-color);
        }
    </style>
    <title>E-shopper</title>
</head>

<body>
    <!--=============== MAIN ===============-->
    <main class="main">
        <div class="login show-login" id="login">
            <h2 class="login__title-center">Login</h2>
            <form action="/login" method="post" class="login__form grid">
                <div class="login__content">
                    <label for="email" class="login__label">Email</label>
                    <input type="email" name="email" id="email" class="login__input">
                </div>
                <%if(locals.error){%>
                    <span class="error" style="font-size: 12px;color: red;">
                        <%= error.erroruser %>
                    </span>
                    <% } %>
                        <div class="login__content">
                            <label for="password" class="login__label">Password</label>
                            <input type="password" name="password" id="password" class="login__input">
                        </div>
                        <%if(locals.error){%>
                            <span class="error" style="font-size: 12px;color: red;">
                                <%= error.errorpassword %>
                            </span>
                            <% } %>
                                <button type="submit" class="button" id="btnlogin">
                                    Sign in
                                </button>
                                <div class="" style="text-align: center;">
                                    <p class="signin">Not a member? <a href="/registration." class=""
                                            style="color: var(--first-color);">Sign up new</a></p>
                                </div>
            </form>
        </div>
    </main>
    <!--=============== SWIPER JS ===============-->
    <script src="/js/swiper-bundle.min.js"></script>

    <!--=============== JS ===============-->
    <script src="/js/main.js"></script>
</body>

</html>