<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
            <a href="/admin" class="nav-link <% if (global.active_link === 'dashboard') { %> active <% } %>">
                <i class="fas fa-chart-pie"></i>
                <p>
                    Dashboard
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/invoice" class="nav-link <% if (global.active_link === 'invoice') { %> active <% } %>">
                <i class="fas fa-file-invoice"></i>
                <p>
                    Invoice
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/user" class="nav-link <% if (global.active_link === 'user') { %> active <% } %>">
                <i class="fas fa-users"></i>
                <p>
                    User
                </p>
            </a>
        </li>
        <li class="nav-item menu-open">
            <a href="#" class="nav-link <% if (global.active_link === 'Dashboard') { %> active <% } %>">
                <p>
                    Products
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/product" class="nav-link <% if (global.active_link === 'product') { %> active <% } %>">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Products</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="/category" class="nav-link <% if (global.active_link === 'category') { %> active <% } %>">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Categories</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="/style" class="nav-link <% if (global.active_link === 'style') { %> active <% } %>">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Style</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/condition"
                        class="nav-link <% if (global.active_link === 'condition') { %> active <% } %>">
                        <i class="far fa-circle nav-icon"></i>
                        <p>condition</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/subcategory"
                        class="nav-link <% if (global.active_link === 'subcategory') { %> active <% } %>">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Sub category</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/size" class="nav-link <% if (global.active_link === 'size') { %> active <% } %>">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Size</p>
                    </a>
                </li>
            </ul>
        </li>

    </ul>
</nav>